name: Checkstyle CI

on:
  push:
    branches:
      - main
      - 'feature/**'
  pull_request:

jobs:
  checkstyle:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Download Checkstyle
        run: curl -L -o checkstyle.jar https://github.com/checkstyle/checkstyle/releases/download/checkstyle-10.14.0/checkstyle-10.14.0-all.jar

      - name: Run Checkstyle
        run: |
          java -jar checkstyle.jar -c checkstyle.xml src
